# Environment Profile
SPRING_PROFILES_ACTIVE=prod

# PostgreSQL (Render / Netlify Neon)
SPRING_DATASOURCE_URL=jdbc:postgresql://ep-spring-mouse-aem1f1xe-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=npg_4DRUjPX9uoNJ

# Optional
SERVER_PORT=8080
